/*
  文章内容
*/
.details .de-wrap .wrap{
  width: 768px;
  float: left;
}
/*内容区*/
.de-wrap .article>.title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin: 10px 0 30px 0;
  padding: 15px 70px 15px 15px;
  background-color: #f2f2f2;
}
.de-wrap .article>.title .img {
  float: left;
  width: 140px;
  height: 120px;
  background-color: #fff;
}
.de-wrap .article>.title .img>img {
  width: 100%;
}
.de-wrap .article>.title .font {
  margin-left: 155px;
}

.de-wrap .article .font>h2 {
  padding: 15px 0 30px 0;
  font-size: 24px;
}
.de-wrap .article .font>ul {
  font-size: 0;
}
.de-wrap .article .font>ul>li {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
}
.de-wrap .article .cnt {
  line-height: 24px;
  font-size: 16px;
  color: #292929;
}
.de-wrap .article .cnt>.bottom {
  margin-top: 60px;
  text-align: center;
}
/*分享*/
.share {
  margin: 30px 0;
}
.share .bshare-custom {
  text-align: center;
  font-size: 16px;
}
.share .bshare-custom>a {
  margin-right: 10px;
  padding-left: 20px;
}
/*收藏*/
.collect>ul {
  margin-bottom: 30px;
  font-size: 0;
  text-align: right;
}
.collect>ul>li {
  display: inline-block;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 15px;
  background-color: #edf2f6;
  font-size: 14px;
  cursor: pointer;
}
.collect>ul>li:hover {
  color: #7d1f88;
}
  /*回复区*/
.de-wrap .reply {
  border-top: 1px dashed #d8d8d8;
}
.de-wrap .reply-list {
  margin-top: 20px;
}
.reply-list .reply-item {
  margin-bottom: 15px;
  background-color: #fafafa;
}
.reply-list .reply-item .reply-wrap {
  padding: 20px;
}
/*用户头像*/
.reply-list .reply-wrap .reply-img {
  width: 95px;
  float: left;
}
.reply-list .reply-wrap .reply-img>div {
  width: 100%;
  height: 95px;
  background-color: #ebeced;
}
.reply-list .reply-wrap .reply-img>div>img {
  width: 100%;
}
.reply-list .reply-wrap .reply-img>p {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
/*回复内容*/
.reply-list .reply-wrap .reply-cnt {
  margin-left: 120px;
  overflow: hidden;
}
.reply-list .reply-wrap .reply-cnt>p {
  min-height: 100px;
  font-size: 16px;
}
.reply-list .reply-cnt .revert{
  padding: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.reply-list .revert .show-wrap {
  margin-bottom: 5px;
  text-align: right;
  color: #7d1f88;
  font-size: 16px;
  cursor: pointer;
}
.reply-list .revert .revert-wrap {
  display: none;
}
.reply-list .revert .revert-list>li {
  margin-bottom: 8px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e7e7e7;
}
.reply-list .revert .revert-name {
  font-size: 14px;
  color: #7d1f88;
}
.reply-list .revert .revert-text {
  font-size: 14px;
}
.reply-list .revert .revert-time {
  line-height: 30px;
  font-size: 14px;
}
.reply-list .revert .revert-input {
  padding: 10px 0 5px;
}
.reply-list .revert .revert-input textarea {
  width: 565px;
  padding: 5px;
  height: 75px;
  resize: none;
  outline: none;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.reply-list .revert .revert-input button {
  float: right;
  outline: none;
  width: 60px;
  height: 25px;
  margin-top: 10px;
  background-color: #7d1f88;
  color: #fff;
  font-size: 14px;
}
  /*回复输入区*/
.de-wrap .reply-input {
  /*margin-top: 45px;*/
}
.de-wrap .reply-input textarea {
  width: 735px;
  height: 100px;
  padding: 15px;
  font-size: 16px;
}
.de-wrap .reply-input button {
  float: right;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  outline: none;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #7d1f88;
  color: #fff;
  font-size: 16px;
}
/*评论时间*/
.de-wrap .reply-time {
  width: 100%;
  padding: 10px 0;
  border-top: 1px dashed #ccc;
}
.de-wrap .reply-time>p {
  float: left;
  margin-left: 20px;
  font-size: 14px;
}
.de-wrap .reply-time>div {
  float: right;
  font-size: 0;
}
.de-wrap .reply-time>div>p {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}
.de-wrap .reply-time>div>p:hover {
  color: #7d1f88;
}
.de-wrap .reply-time>div>p span {
  padding-right: 5px;
}
.de-wrap .reply-time>div>p:last-child {
  border-right: none;
}
/*分页*/
.page-wrap {
  margin: 25px 0;
  text-align: center;
}
.page-wrap .pagination {
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #7d1f88;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  font-size: 14px;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  background-color: #7d1f88;
  border-color: #7d1f88;
  cursor: default;
}