.home>section {
  margin-bottom: 30px;
}
/*公用标题*/
.p-title {
  position: relative;
  padding: 0 0 5px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  color: #7d1f88;
}
.p-title:after {
  position: absolute;
  display: block;
  content: '';
  top: 3px;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #7d1f88;
}


.bnr-banner {
  position: relative;
  float: left;
  width: 700px;
  height: 400px;
  overflow: hidden;
}
/*.bnr-banner .box a {*/
  /*display: block;*/
/*}*/
.bnr-banner .box li {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.bnr-banner .box img {
  width: 100%;
  height: 100%;
}
.bnr-banner>.prev,
.bnr-banner>.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  width: 60px;
  height: 100px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 200 30px/100px simsun;
  background-color: rgba(255,255,255,.4);
  color: #333;
  cursor: pointer;
}
.bnr-banner>.next {
  right: 0;
}
.bnr-banner>.prev:hover,
.bnr-banner>.next:hover {
  background-color: rgba(255,255,255,.6);
  color: #000;
}
/*右侧文章资讯*/
.bnr-info {
  margin-left: 750px;
  max-height: 400px;
  overflow: hidden;
}
.bnr-info>.hd {
  font-size: 0;
}
.bnr-info>.hd li{
  display: inline-block;
  width: 25%;
  line-height: 40px;
  text-align: left;
  font-size: 18px;
  cursor: default;
}
.bnr-info>.hd li.on {
  color: #7d1f88;
  text-decoration: underline;
}
.bnr-info>.bd>ul>li {
  line-height: 31px;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-bottom: 1px dashed #ccc;
}
.bnr-info>.bd>ul>li a{
  color: #333;
  font-size: 14px;
}
.bnr-info>.bd>ul>li:hover a {
  color: #7d1f88;
}
/*
 offer 高分
*/

.workcase>div {
  width: 49%;
  height: 135px;
  float: left;
  overflow: hidden;
}
.workcase>div:first-of-type {
  margin-right: 2%;
}
.workcase>div li {
  line-height: 30px;
}
.workcase>div li:hover a {
  color: #7d1f88;
}
/*
  热门板块、公开课
*/
.hotpublic>div {
  width: 49%;
  float: left;
  overflow: hidden;
}
.hotpublic>div:first-of-type {
  margin-right: 2%;
}
.hotpublic .hot-list {
  width: 100%;
  overflow: hidden;
}
/*.hotpublic .hot-list:first-of-type {*/
  /*margin: 40px 0 25px 0;*/
/*}*/
.hotpublic .hot-item {
  float: left;
  width: 25%;
  text-align: center;
}
.hotpublic .hot-item>a {
  display: block;
}
.hotpublic .hot-item>a>div {
  width: 105px;
  height: 105px;
  margin: 0 auto;
  background: url('/cn/images/index-icon.png') 0 0 no-repeat;
}
.hotpublic .hot-list:first-of-type .hot-item:nth-child(2)>a>div  {
  background-position-x: -106px;
}
.hotpublic .hot-list:first-of-type .hot-item:nth-child(3)>a>div  {
  background-position-x: -212px;
}
.hotpublic .hot-list:first-of-type .hot-item:nth-child(4)>a>div  {
  background-position-x: -317px;
}
.hotpublic .hot-list:last-of-type .hot-item:nth-child(1)>a>div  {
  background-position-x: -424px;
}
.hotpublic .hot-list:last-of-type .hot-item:nth-child(2)>a>div  {
  background-position-x: -529px;
}
.hotpublic .hot-list:last-of-type .hot-item:nth-child(3)>a>div  {
  background-position-x: -636px;
}
.hotpublic .hot-list:last-of-type .hot-item:nth-child(4)>a>div  {
  background-position-x: -742px;
}
.hotpublic .hot-item>a>p {
  line-height: 40px;
}
/*公开课*/
.hotpublic .public {
  position: relative;
}
.hotpublic .public .box {
  width: 580px;
}
.hotpublic .public .box li {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.hotpublic .public .box li>img {
  width: 100%;
  height: 100%;
}
.hotpublic .public .box li>div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 0;
}
.hotpublic .public .box li>div>p {
  display: inline-block;
  width: 50%;
  padding: 12px 0;
  text-align: center;
  background-color: #c1c1c1;
}
.hotpublic .public .box li>div>p:hover {
  background-color: #777;
}
.hotpublic .public .box li>div>p a {
  display: block;
  border-right: 1px solid #fbfbfb;
  font-size: 16px;
  color: #fbfbfb;
}
.hotpublic .public>.prev,
.hotpublic .public>.next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  width: 40px;
  height: 100px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 200 30px/100px simsun;
  background-color: rgba(255,255,255,.6);
  color: #333;
  cursor: pointer;
}
.hotpublic .public>.next {
  right: 8px;
}
.hotpublic .public>.prev:hover,
.hotpublic .public>.next:hover {
  background-color: rgba(22,22,22,.4);
  color: #000;
}
/*
  资料下载
*/
.download .down-title>h5 {
  float: left;
  border-bottom: 0;
}
.download .down-title>a {
  float: right;
  padding-right: 20px;
  font-size: 24px;
  color: #7d1f88;
}
.down-cnt {
  width: 100%;
}
.down-cnt>ul {
  float: left;
  width: 25%;
}
.down-cnt>ul>h5 {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  background-color: #f1f1f1;
}
.down-cnt>ul>h5 span {
  display: block;
  border-right: 1px solid #ccc;
}
.down-cnt>ul:last-of-type>h5 span {
  border-right: 0;
}
.down-cnt>ul>li {
  padding: 0 30px;
  line-height: 35px;
  text-align: center;
}
.down-cnt>ul>li>a {
  display: block;
  border-bottom: 1px dashed #eaeaea;
}
.down-cnt>ul>li:hover a {
  color: #7d1f88;
}
/*
  内容帖子
*/
.posts .box {
  width: 770px;
  float: left;
}
.posts .box-tab>.hd ul {
  border-bottom: 1px solid #7d1f88;
}
.posts .box-tab>.hd ul>li {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
}
.posts .box-tab>.hd ul>li.on p {
  color: #7d1f88;
}
.posts .box-tab>.hd ul>li.on:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
  border: 10px solid transparent;
  border-bottom-color: #7d1f88;
}
.posts .box-tab>.hd ul>li.on:after {
  position: absolute;
  display: block;
  content: '';
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
  border: 10px solid transparent;
  border-bottom-color: #fff;
}
.posts .box-tab>.hd ul>li .img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  background: url("/cn/images/index-icon02.png") 0 0 no-repeat;
}
.posts .box-tab>.hd ul>li:nth-child(2) .img {
  background-position-x: -90px;
}
.posts .box-tab>.hd ul>li:nth-child(3) .img {
  background-position-x: -180px;
}
.posts .box-tab>.hd ul>li:nth-child(4) .img {
  background-position-x: -270px;
}
.posts .box-tab>.hd ul>li:nth-child(5) .img {
  background-position-x: -360px;
}
.posts .box-tab>.hd ul>li>p {
  line-height: 40px;
  font-size: 16px;
}

.posts .box-tab>.bd>ul {
  min-height: 76px;
}
.posts .box-tab>.bd ul>li {
  float: left;
  padding: 10px 0;
  width: 12%;
  text-align: center;
  font-size: 16px;
}
.posts .box-tab>.bd ul>li a {
  display: block;
  border-right: 1px solid #7d1f88;
  font-size: 16px;
}
.posts .box-tab>.bd ul>li:last-child a {
  border-right: 0;
}
.posts .box-tab>.bd ul>li i{
  color: red;
}
.posts .box-tab>.bd ul>li.active a,
.posts .box-tab>.bd ul>li.on a{
  color: #7d1f88;
}
.posts .box-tab>.bd ul>li a:hover {
  text-decoration: underline;
}
.posts .box-tab>.bd>ul>div .inHd li.on {
  color: #7d1f88;
  text-decoration: underline;
  font-weight: 600;
}
.posts .box-tab>.bd>ul>div .inHd li:hover {
  cursor: default;
  color: #7d1f88;
}
.posts .box-post-list>ul>.item {
  min-height: 90px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.posts .box-post-list>ul>.item .img {
  float: left;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ccc;
}
.posts .box-post-list>ul>.item .img>img {
  width: 100%;
  height: 100%;
}
.posts .box-post-list>ul .right {
  overflow: hidden;
  margin-left: 90px;
}
.posts .box-post-list>ul .right>h3 a{
  font-size: 16px;
  font-weight: 400;
}
.posts .box-post-list>ul .right>h3 a:hover {
  color: #7d1f88;
}
.posts .box-post-list>ul .right>h3 i{
  padding-left: 10px;
  color: red;
}
.posts .box-post-list>ul .right>.info-list {
  padding: 10px 0;
  /*border-bottom: 1px dashed #ccc;*/
}
.posts .box-post-list>ul .right>.info-list>div {
  font-size: 14px;
  color: #777;
}
.posts .box-post-list>ul .right>.info-list>.first-div {
  float: left;
}
.posts .box-post-list>ul .right>.info-list>.last-div {
  float: right;
}
.posts .box-post-list>ul .right>.info-list>.last-div>p {
  display: inline-block;
  color: #777;
}
.posts .box-post-list>ul .right>.abstract {
  line-height: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
