.info-tab>ul {
  border-bottom: 1px solid #ccc;
  font-size: 0;
}
.info-tab>ul>li {
  display: inline-block;
  line-height: 30px;
  width: 24%;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  font-size: 14px;
  cursor: default;
}
.info-tab>ul>li span {
  display: inline-block;
  cursor: default;
}
.info-tab>ul>li.on span {
  border-bottom: 2px solid #7d1f88;
  color: #7d1f88;
}
.info-box {
  margin-top: 20px;
}
.info-box>.info-list>li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.info-box>.info-list>li .img {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  overflow: hidden;
}
.info-box>.info-list>li .img>img {
  width: 100%;
  height: 100%;
}
.info-box>.info-list>li .text {
  overflow: hidden;
  min-height: 80px;
  margin-left: 90px;
  font-size: 14px;
}
.info-box>.info-list>li .time {
  text-align: right;
  font-size: 14px;
}